CLOUDFLARE_ENDPOINT=https://1bc1c0ffa1fb49634d45884abcd30f37.r2.cloudflarestorage.com
CLOUDFLARE_ACCESS_KEY_ID=6866dce2e2fc6f4ac961a268079d74aa
CLOUDFLARE_SECRET_ACCESS_KEY=209d7ef820b6ed3086e32f0b3d298eb6bbfbf0f03634935b9a89b60f2c4be445
CLOUDFLARE_BUCKET_NAME=admire
CLOUDFLARE_PUBLIC_DOMAIN=https://assets.admire.uz

ACCESS_KEY=your-access-key
ACCESS_TIME=1d
REFRESH_KEY=your-refresh-key
REFRESH_TIME=10d
ACCESS_TIME_COOKIE=86400000
REFRESH_TIME_COOKIE=864000000